*{
    background-color: skyblue;
    margin: 0%;
    border: 0%;
    padding: 0%;
}
#game{
    position: absolute;
    overflow: hidden;
    left: 30%;
    top: 10%;
    background-color: #333333;
}
#border1,#border2,#border3,#border4{
    position: absolute;
    background-color: #333333;
}
#char{
    position: absolute;
    float: inline-start;
    text-align: center;
    font-size: large;
    color: white;
    background-color: #333333;
}
#char_rotated{
    position: absolute;
    float: inline-start;
    text-align: center;
    font-size: large;
    color: white;
    background-color: #333333;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
#main{
    position: inherit;
    background-color: yellow;
}
.teste{
    float: left;
    position: relative;
}
#history{
    position: absolute;
    top: 10%;
    left: 75%;
    height: 3.5%;
    width: 20%;
    text-align: center;
    font-size: 120%;
    color: white;
    background-color: black;
    border: 1px solid black;
}
#chat{
    position: absolute;
    top: 13.5%;
    left: 75%;
    height: 80%;
    width: 20%;
    background-color: #bbbbbb;
    border: 1px solid black;
    overflow-y:auto;
}
.image{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: transparent;
}
#turn{
    position: absolute;
    left: 5%;
    width: 20%;
    top: 10%;
    height: 20%;
    background-color: white;
    color: #000;
    font-size: 400%;
    text-align: center;
}
#reset_button{
    position: absolute;
    left: 5%;
    width: 20%;
    top: 40%;
    height: 10%;
    background-color: gray;
    color: #000;
    font-size: 100%;
    text-align: center;
}